
\.ipynb_checkpoints/Jupyter Demo-checkpoint\.ipynb

pre_commit\.log

\.ipynb_checkpoints/Jupyter Demo1-checkpoint\.ipynb

*.log

\.ipynb_checkpoints/

mpg\.csv

*.docx

*.xlsx

*.pdf

fast.ai/Copy of lesson1-pets.ipynb

*.sqlite

*.csv

*.tsv

brumai/190822_breast_cancer_data/README.txt

brumai/190822_breast_cancer_data/MachineLearning_6_Steps.ipynb

DataCamp_merging_DataFrames/DataCamp_merging_DataFrames.ipynb

olympics/

rnli/

gapminder/

BL_perm_question.ipynb
Jupyter Demo.ipynb
battenburg.ipynb
csv2sqlite.ipynb
mpg/mpg.ipynb
pre_commit.log
pwd_handling.ipynb
EWG_POR_Berlin/230316_dinner.xlsx
EWG_POR_Berlin/EPF_Berlin.ipynb
EWG_POR_Berlin/EWG_POR_Berlin.ipynb
EWG_POR_Berlin/Eventbrite reports/
EWG_POR_Berlin/cmp_EV_Zoom_regs.ipynb
EWG_POR_Berlin/my_reports/
mpg/mpg.ipynb